<style>
    .div-1 {

        font-size: 26px;
        width: 869px;
        height: 575px;
        flex-shrink: 0;
        border-radius: 93px;
        background: var(--black-bg, linear-gradient(180deg, #232323 0%, rgba(35, 35, 35, 0.26) 100%));
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-1 {
        padding-left: 20px;
        width: 364px;
        height: 44px;
        flex-shrink: 0;
        border-radius: 50px;
        border: 3px solid #1BBFE9;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    #sub-1 {
        width: 104.522px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5PX;
        padding-bottom: 5PX;
        font-size: 20px;
        border-radius: 50px;
        background: linear-gradient(90deg, #00FFD1 0%, #1F768D 100%);
    }
</style>
</head>

<body style="height: 100vh;" class="bg-black center">
    <div class="div-1 center">
        <div class="text-white">
            <form id="form-1" action="/signup-otp" method="POST">
                <div class="flex">
                    <div>
                        <p class="text-white">Fname</p>
                        <input type="text" style="width:  170.466px;" class="input-1 mr-4  text-black" name="Fname"
                            id="">
                        <p id=""></p>
                    </div>
                    <div>
                        <p class="text-white">Lname</p>
                        <input type="text" style="width:  170.466px;" class="input-1 text-black" name="Lname" id="">
                    </div>
                </div>
                <p>Email</p>
                <input class="input-1 text-black" name="Email" type="email">
                <p class="text-red-600" id="e_err"></p>
                <p>Password</p>
                <input class="input-1 text-black" name="Password" type="password">
                <p class="text-red-600" id="p_err"></p>
                <p>Confirm Password</p>
                <input class="input-1 text-black" name="confirmPassword" type="password">
                <p class="text-red-600" id="cp_err"></p>
                <br>
                <div class="center sub-1 " style="margin-top:26px;">
                    <input id="sub-1" type="submit" value="Login">
                    <span id="spinner-1" style="position: absolute;" class="spinner hidden animate-spin">
                        <div class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
                            role="status">
                            <span
                                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
                        </div>
                    </span>

                </div>
            </form>
        </div>
    </div>
    <script>
        let form = document.getElementById("form-1")
        form.addEventListener("submit", e => {
            e.preventDefault();
            const Fname = document.forms["form-1"]["Fname"].value;
            const Lname = document.forms["form-1"]["Lname"].value;
            const email = document.forms["form-1"]["Email"].value;
            const password = document.forms["form-1"]["Password"].value;
            const conpasword = document.forms["form-1"]["confirmPassword"].value;
            ///_______________________
            const butten = document.getElementById("sub-1")
            const spinner = document.getElementById("spinner-1")

            butten.classList.add("hidden")
            spinner.classList.remove("hidden")
            const E_err = document.getElementById("e_err")
            const p_err = document.getElementById("p_err")
            const co_err = document.getElementById("cp_err")


            if (Fname === "") {
                E_err.innerHTML = "err"
                spinner.classList.add("hidden")
                butten.classList.remove("hidden")
                return false
            }
            if (email === "") {
                E_err.innerHTML = "err"
                spinner.classList.add("hidden")
                butten.classList.remove("hidden")
                return false
            }
            if (Lname === "") {
                E_err.innerHTML = "err"
                spinner.classList.add("hidden")
                butten.classList.remove("hidden")
                return false
            }
            if (password === "") {
                E_err.innerHTML = "err"
                spinner.classList.add("hidden")
                butten.classList.remove("hidden")
                return false
            }
            if (password !== conpasword) {
                co_err.innerHTML = " not math"
                spinner.classList.add("hidden")
                butten.classList.remove("hidden")

                return false
            }

            let data = {
                Name: Lname + "_" + Fname,
                Email: email,
                password: password
            }


            fetch("/signup", {
                method: "POST",
                body: new URLSearchParams(data)
            })
                .then((res) => {
                    if (res.status === 409) {
                        console.log(409);
                        
                        return res.json()
                    } else {
                        
                        window.location.href = "/home";
                        form.submit();
                    }
                })
                .then((data) => {
                    console.log(data);
                    butten.classList.remove("hidden")
                    spinner.classList.add("hidden")
                    E_err.innerHTML = data.err

                })
                .catch((error) => {
                    console.error("Fetch error:", error);
                });
        });

    </script>
</body>

</html>